.controller-treeissues .treebox {margin-left:1em;}
.controller-treeissues .treeid {font-size:0.9em;color:#aaa}
.controller-treeissues .children {color:#0c0c0c;font-size:0.8em;}
.controller-treeissues .list td {line-height:1.5em;}
.controller-treeissues .ticketname {text-align:left;}
.controller-treeissues .col {text-align:center;}
.controller-treeissues .col0{width:500px;text-align:center;}
.controller-treeissues .col1{width:30px;text-align:center;}
.controller-treeissues .col2{width:50px;text-align:center;}
.controller-treeissues .col3{width:50px;text-align:center;}
.controller-treeissues .col4{width:50px;text-align:center;}
.controller-treeissues .col5{width:30px;text-align:center;}
.controller-treeissues .col6{width:30px;text-align:center;}
.controller-treeissues .folder_open{display:none;}
.controller-treeissues .done_ratio{background-color:#fa7;text-align:left;font-size:0.8em;}
